* {
    font: 11pt;
    
}
a{
text-decoration: none;    
}
li{
    list-style-type:none
    }
.logo {
    width: 250px;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: black


}

.buscador{
    padding: 20px;
    padding-right: 200px;
    background-color:dimgray;
    color:white;
    border: dimgray;
}

.inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 250px;
    height: 100px;
}
.iniciodos{
    color: rgb(123, 37, 243);
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin:0 5pxb ;
}
.barra{
    display: flex;
    }
.borderlupa{
    background-color:none;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 30px;
}
form{
    display: flex;
}
.lupa{
    height: 30px;
    width: 30px;
    align-items: flex-end;
}


body{
    background-color: black;
}

h1{
    color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}

h2{
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 5%;
    padding-top: 4%;
}
.paddingtopfooter{
    padding-top: 1%;
    color: aliceblue;
}
.logofooter{
    width: 250px;
}