* {
    font: 14pt;
  /* header */  
}
a{
text-decoration: none;    
}
li{
    list-style-type:none
    }

.logo {
    width: 250px;
}
.borderlupa{
    background-color:none;
    color: white;
    border: none;
    margin-left: 10px;
    margin-right: 30px;
}
form{
    display: flex;
}
.lupa{
    height: 30px;
    width: 30px;
    align-items: flex-end;
}
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: black
}

.buscador{
    padding: 20px;
    padding-right: 200px;
    background-color:dimgray;
    color:white;
    border: dimgray;
}

.inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: black;
    width: 250px;
    height: 100px;
}
.iniciodos{
    color: rgb(123, 37, 243);
    display: inline;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    margin:0 5px ;
}






/* home */
body{
    background-color: black;
}

.fotocancion{
    border-radius: 80px;
    width: 150px;
}
h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: aliceblue;
    padding-left: 20px;
    Border: solid;
}

.canciones1, .artistas1, .album1 {
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
}

.foto_artista{
    border-radius: 80px;
    width: 150px;
}

.foto_album{
    border-radius: 80px;
    width: 150px;
}


/* Detalles */
.titulo_detalle{
    color: rgb(178, 145, 255);
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 2.7%;
    text-shadow: 2px 2px rgb(104, 48, 183);
}

.detalles1 {
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
}

.contenedor_detail_artist, .contenedor_detail_canciones, .contenedor_detail_album{
    margin-left: 30%;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-bottom: 20%;
}


.img-cancion-detalle, .img-artist-detalle, .img_foto_artista{
    border: 1px solid rgb(186, 186, 186);
    height: 350px;
    width: 300px;
    float: left;
    margin-left: 3%;
}

.agregar_favs {
    margin-top: 4%;
}

.nombre-artista-container, .nombre-cancion-container, .nombre-album-container {
    display: flex;
    align-items: center;
}

.nombre-artista-container h3 , .nombre-cancion-container h3, .nombre-album-container h3{
    margin-right: 10px;
}



/* Generos */

  #generoCanciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
  }
  
  .lista_genres {
    width: 35%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #4e257b, #1f0d60);
    border-radius: 10px;
    margin-bottom: 3%;
  }
  
  .nombregenero a {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
  }
 
  .nombregenero a:hover {
    color: blue;
  }
 
  
  
  
  
  /* Generos/ fotos y titulos */
  
  .artistas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .lista_artista {
    width: 20%;
    margin: 2.5%;
    text-align: center;
  }
  
  .nombre_artista:hover {
    color: blue;
  }
  
  .nombre_artista {
    text-decoration: none;
    color: rgb(123, 37, 243);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
  }
  
  .foto_artista {
    height: auto;
    border-radius: 50%;
  }
  
  
  
  
  
  


/* footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin-top: 10%;
}

.linea {
    width: 100%;
    border: none;
    border-top: 1px solid aliceblue;
    margin-top: 0px;
    
}

.paddingtopfooter{
    margin-top: 0px;
    font-family: 'Bebas Neue', sans-serif;
    color: aliceblue; 
}

.logofooter{
    width: 200px;
    margin-bottom: 0px;
}

.search{
   color:white
}

@media(max-width: 400px) {

    .logo{
        display:block;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
    .nav{
        width: 100%;
        display: flex;   
    }
    
    .iniciodos{
        display:block;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
}
